html, body {
    background-image: url("main.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100%;
    overflow: hidden;
} /*Uzstrāda fona bildi abām lappaspusēm*/

#title {
    height: 100px;
    width: 800px;
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} /*Lietojot position, top, left un transform atribūtu, es nolieku attiecīgo konteineri vietā, kur vēlos.*/

#title h1 {
    color: white; /*Nomainu tekstam krāsu*/
    font-family: Garamond, serif; /*Nomainu tekstam fontu*/
    font-size: 300%; /*Palielinu burtu lielumu*/
    text-align: center; /*Nolieku tekstu pa vidu*/
}

#poga {
    position:absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
    background-color: black;
    color: white;
    text-align: center;
    height: 65px;
    width: 250px;
    font-size: 18px;
    border-radius: 50px; /*Pogai stūru noapaļo*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /*ar box-shadow atribūtu, iedodu pogai mazu ēnojumu*/
    border: lightblue;/*Uzstādu rāmim krāsu*/
    border-width: 5px; /*Iedodu rāmim lielumu*/
    border-style: solid; /*Pasaku, ka rāmis ir vienkārši aizpildīts ar krāsu*/
    cursor:pointer; /*Kad kursors uzliek uz pogas, kursors nomainās no parastās bultiņas uz ročiņu, kas parasti parādās, kad kursoru uzliek uz nospiezama elementa*/
}

#autors {
    position:absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    width: 400px;
    font-size: 30px;
    font-family: 'Courier New', monospace;
    background: white;
    border: black;
    border-width: 5px;
    border-style: solid;
    padding-left: 10px; /*Tekstu novietoju 10 pikseļus prom no kreisās malas*/
}

#main {
    height: 100%;
    width: 100%;
}

#poga2 {
    border-radius: 50%;
    cursor:pointer;
}

#arrow {
    width: 100px;
    height: 100px;
}

#title2 {
    float: right;
    background:rgba(255, 255, 255, 0.5);
    font-size: 14px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    width: 30%;
    font-family: Verdana, Tahoma, sans-serif;
    transform: translate(-117%,0);
}

#apraksts {
    background:rgb(170, 170, 170);
    width: 28%;
    font-size: 24px;
    color:rgb(71,82,94);
    padding: 10px; /*Teksts tiek novietots 10 pikeļus prom no visām malām*/
    transform: translate(0%, 70%);
}

#legend {
    height:45%;
    width:20%;
    background: rgba(174,174,174,0.6);
    position:absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: right; /*Teksts tiek līdzināts pie labās malas*/
}
.legend_color {
    width: 40%;
    height: 80%;
    float: right;
    transform: translate(-5%,5%);
    border-style: solid;
    border-width: 5px;
}

#legend b {
    font-size: 28px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
}

#chart {
    height:80%;
    width:30%;
    margin: auto;
    bottom: 20%;
    position: relative;
    background-color:grey;
}

#data {
    font-size:larger;
}